@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

:root {
  --background: #ededed;
  --foreground: #fff;
}

body {
  @apply bg-gradient-to-r from-green-500 via-black to-red-600;
  color: var(--foreground);
  /* background: var(--background); */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h2 {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: xx-large;
  font-weight: 800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
