@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #fff;
}

body {
  @apply bg-gradient-to-r from-green-500 via-black to-red-600;
  color: var(--foreground);
  /* background: var(--background); */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
